<html>
<body>
<form action={{ url_for('render') }} method="post">
  <label for="markdown">Input some markdown:</label><br>
  <textarea id="markdown" name="markdown" rows="20" cols="100"></textarea>
    <label for="encryption_password">Encryption Password: </label>
    <input type="password" id="encryption_password" name="encryption_password"><br>

    <label for="rewrite_encryption_password">Rewrite Encryption Password: </label>
    <input type="password" id="rewrite_encryption_password" name="rewrite_encryption_password"><br>
  <br>
    <input type="checkbox" name="Encrypt" value=1>Encrypt Note<br>
  <input type="submit" value="Submit">
</form>


</body>
</html>